# Editor backup
*~
*.bak
\#*
*.orig

# Autotools cruft
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
install-sh
missing
Makefile
Makefile.in
depcomp
libtool
ltmain.sh
m4/
.deps/
.libs/
stamp-h*
autoregen.sh
gstinference-*.pc

# Build outputs
.deps/
.libs/
*.la
*.lo
*.o

# Git conflict files
.merge_file_*

# GtkDoc
docs/version.entities
docs/plugins/*.txt
docs/plugins/*.sgml
docs/plugins/*.new
docs/plugins/*.args
docs/plugins/*.hierarchy
docs/plugins/*.interfaces
docs/plugins/*.prerequisites
docs/plugins/*.signals
docs/plugins/*.stamp
docs/plugins/html/
docs/plugins/xml/

# Tests 
test-driver
*.xml
*.log
*.trs

# 3rd party tools
.clang_complete
cscope.files
cscope.out

# Examples
tests/examples/classification/classification
tests/examples/detection/detection
