# Autotools ignore files
INSTALL
Makefile
Makefile.in
*.m4
autom4te.cache/
autoregen.sh
compile
config.*
configure
install-sh
libtool
ltmain.sh
missing
stamp-h1
depcomp

# Build outputs
.deps/
.libs/
*.la
*.lo
*.o

# GtkDoc
docs/version.entities

# Test framework
test-driver
tests/check/test-suite.log

# Editor backup
*~

